@font-face {
  font-family: proximaNova;
  src: url(../../public/WASiteAssets/ProximaNovaFont.otf);
}

.App {
  text-align: center;
  font-family: proximaNova;
  color: #ffffff;
  text-align: left;
}

body{
  background-color: black;
}

.small-text {
  font-size: 10pt;
}

.big-text {
  font-size: 42pt;
  font-weight: 1000;
  line-height: normal;
  padding-bottom: 10px;
}

.yellow-text {
  color: #ebe41d;
}

.green-text {
  color: #58ce69;
}

@media (min-width: 768px) {
  
  .big-text {
    font-size: 56pt;
    font-weight: 1000;
    line-height: normal;
  }

  .small-text {
    font-size: 12pt;
  }

}