body {
  max-width: 1440px;
  margin: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ReactModal__Overlay {
  z-index: 20;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #ffffff;
  text-align: left;
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: black;
}

.small-text {
  font-size: 10pt;
}

.huge-text {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72pt;
  letter-spacing: 10px;
  line-height: 72pt;
}

.big-text {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48pt;
  line-height: 48pt;
  letter-spacing: 10px;
}

.medium-text {
  font-weight: bold;
  font-style: normal;
  font-size: 16pt;
  line-height: 24pt;
  padding-bottom: 10px;
}

.small-caps {
  font-variant: small-caps;
}

.yellow-text {
  color: #ebe41d;
}

.green-text {
  color: #58ce69;
}

.ReactModal__Content {
  margin-right: 0 !important;
}

.ReactModal__Content--after-open {
  margin-right: 0 !important;
}

.hover-invert {
  transition: 500ms;
}

.hover-invert:hover {
  transition: 500ms;
  background-color: #e5e7eb;
  color: black;
  cursor: pointer;
}

.modal {
  max-width: 750px;
  min-width: 750px;
  width: 50vw;
  border-radius: '20px';
  z-index: 20;
  margin: auto !important;
  margin-top: 20% !important;
  border: 2px solid white;
}

.email-modal {
  max-width: 750px;
  min-width: 750px;
  width: 50vw;
  border-radius: '20px';
  z-index: 20;
  margin: auto !important;
  margin-top: 20% !important;
  border: 2px solid white;
}

.ReactModal__Overlay {
  background-color: rgba(0,0,0) !important;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0,0,0) !important;
}

.team-pfp {
  width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

@media (max-width: 1125px) {
  .huge-text {
    font-size: 60pt;
  }
}
@media (max-width: 1002px) {
  .huge-text {
    font-size: 54pt;
  }
  .big-text {
    font-size: 40pt;
  }
}

@media (max-width: 950px) {
  
  .huge-text {
    font-size: 24pt;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  
  .big-text {
    font-size: 24pt;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }

  .medium-text {
    font-weight: bold;
  }
  
  .small-text {
    font-size: 12pt;
    font-weight: 600;
  }

  .modal {
    max-width: auto;
    min-width: auto;
    width: 90vw;
    margin: auto !important;
    margin-top: 25% !important;
  }

  .email-modal {
    max-width: auto;
    min-width: auto;
    width: 90vw;
    margin: auto !important;
    margin-top: 25% !important;
  }

  .ReactModal__Content {
    margin-right: auto !important;
  }
  
  .ReactModal__Content--after-open {
    margin-right: auto !important;
  }
}