.columns .column {
    color: #00CED1;
    float: left;
    width: 33.33%;
  }
  /* Clear floats after the columns */
.columns  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  