#part1 {
    margin-top: 50px;
    width:450px;
    /* margin-left: 380px; */
    margin: auto;
    margin-bottom: 100px;
}

#part2 {
    width:450px;
    /* margin-left: 520px; */
    margin: auto;
    margin-bottom: 100px;
}

#part3 {
    width:450px;
    /* margin-left: 575px; */
    margin: auto;
    margin-bottom: 100px;
}

#part4 {
    width:450px;
    /* margin-left: 520px; */
    margin: auto;
    margin-bottom: 100px;
}

#part5 {
    width:450px;
    /* margin-left: 380px; */
    margin: auto;
    margin-bottom: 100px;
}

@media (max-width: 1375px) {

    #part1 {
        margin-top: 50px;
        /* margin-left: 300px; */
        margin: auto;
        margin-bottom: 130px;
    }
    
    #part2 {
        /* margin-left: 440px; */
        margin: auto;
        margin-bottom: 130px;
    }
    
    #part3 {
        /* margin-left: 495px; */
        margin: auto;
        margin-bottom: 130px;
    }
    
    #part4 {
        /* margin-left: 440px; */
        margin: auto;
        margin-bottom: 130px;
    }
    
    #part5 {
        /* margin-left: 300px; */
        margin: auto;
        margin-bottom: 130px;
    }

}

@media (max-width: 1250px) {

    #part1 {
        margin-top: 50px;
        /* margin-left: 250px; */
        margin: auto;
        margin-bottom: 120px;
    }
    
    #part2 {
        /* margin-left: 390px; */
        margin: auto;
        margin-bottom: 120px;
    }
    
    #part3 {
        /* margin-left: 445px; */
        margin: auto;
        margin-bottom: 120px;
    }
    
    #part4 {
        /* margin-left: 390px; */
        margin: auto;
        margin-bottom: 120px;
    }
    
    #part5 {
        /* margin-left: 250px; */
        margin: auto;
        margin-bottom: 120px;
    }

}

@media (max-width: 1180px) {

    #part1 {
        width:325px;
        margin-top: 50px;
        /* margin-left: 275px; */
        margin: auto;
        margin-bottom: 60px;
    }
    
    #part2 {
        width:325px;
        /* margin-left: 350px; */
        margin: auto;
        margin-bottom: 60px;
    }
    
    #part3 {
        width:325px;
        /* margin-left: 375px; */
        margin: auto;
        margin-bottom: 60px;
    }
    
    #part4 {
        width:325px;
        /* margin-left: 325px; */
        margin: auto;
        margin-bottom: 60px;
    }
    
    #part5 {
        width:325px;
        /* margin-left: 275px; */
        margin: auto;
        /* margin: auto; */
        margin-bottom: 60px;
    }

}

@media (max-width: 950px) {

    #part1 {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    #part2 {
        margin: auto;
        margin-bottom: 10px;
    }
    
    #part3 {
        margin: auto;
        margin-bottom: 10px;
    }
    
    #part4 {
        margin: auto;
        margin-bottom: 10px;
    }
    
    #part5 {
        /* width: 33%; */
        margin: auto;
        margin-bottom: 10px;
    }

}