.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.react-parallax-bgimage {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-size: contain !important;
    background-repeat: no-repeat; */
}