.section {
    width: 100vw;
    height: 100vh;

}

.react-parallax-bgimage {
    height: auto !important;
    width: 100vw !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}