.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.tall-section {
    width: 100vw;
    height: 200vh;
    position: relative;
}

.react-parallax-bgimage {
    object-fit: cover !important;
    object-position: 50% 50%;
    position: fixed;
    /* width: 100vw;
    height: 100vh; */
    background-size: 100% !important;
    overflow: hidden;
    /* background-size: cover !important; */
    background-repeat: no-repeat;
}

.react-parallax-content {
    width: 100vw !important;
    height: 100vh !important; 
}

@media only screen and ( max-width: 640px ) {
    .react-parallax-bgimage {
        position: relative;
        width: auto !important;
        height: 100vh !important;
        background-size: 100%
        /* background-size: contain !important;
        background-repeat: no-repeat; */
    }
  }